td {
	font-family: µ¸¿ò; 
	font-size: 12px; 
	color: #333333; 
	line-height: 18px;
}

.title {
	font-family: µ¸¿ò; 
	font-size: 12pt; 
	font-weight: bold;
	color: Black; 
	background-color: Beige;
	line-height: 22px;
}

/* Form css */
.text, .textarea, .password, .file, .select { 
	font-family: µ¸¿ò; 
	font-size: 8pt; 
	color: #333333;
}

table.uTable {
  background: YellowGreen;
}

td.uHead, th.uHead {
  height: 22px;
  text-align: center;
  background: E6ECDE; 
  font-weight: bold; 
}

td.uCell {
  text-align: left;
  background: White;  
  padding-left: 10px;
  padding-right: 10px;
}